.form {
    background-color: antiquewhite;
    height: 80vh;
}

.menu {
    background-color:lightgoldenrodyellow; 
    height: 80vh;
}
.header{
    color: yellow;
    background-color: maroon;
    
}

