<div class="justify-content-center d-flex header">
  <h3>Food delivery</h3>
</div>

<div class="container">
  <div class="row">
    <div class="">
      <input type="checkbox" id="hmt" class="hidden-menu-ticker">

      <label class="btn-menu" for="hmt">
        <span class="first"></span>
        <span class="second"></span>
        <span class="third"></span>
      </label>
      <app-form (emittAddedFood)="getAddedFood($event)" class="hidden-menu"></app-form>

    </div>
    <div class="">
      <app-menu [menu_list]="menu"></app-menu>
    </div>
  </div>
</div>