<h4>Look through our menu!</h4>
<div class="row ">
<div class="row_menu d-flex" style="overflow:scroll;display:flex;flex-wrap:wrap;">
    <div *ngFor="let item of menu_list" class="card mb-3 w-50" style="min-width: 350px;">
        <div class="row g-0">
          <div class="col-md-6">
            <img src="{{item.imageUrl}}" class="rounded-start w-100" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title" #fname>{{item.name}}</h5>
              <p class="card-text primary">
                {{item.description}}
              </p>
              <p class="card-text"><small>{{item.ingredients}}</small></p>
              <p class="text-body-danger"><small>{{item.price}}</small></p>
              <div class="justify-content-end d-flex">
                <input type="button" value="Order" (click)="orderFood($event, item.name)" class="btn btn-warning btn-sm">
              </div>
              
            </div>
          </div>
        </div>
    </div>
</div>
</div>
<div class="row">
  <h5>Check your order</h5>
  <div #row_order class="row_order">
    
    <table class="tatbe table-striped w-75">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of order">
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{item.price}}</td>
          <td><input type="text" id="item.name" name="count" size="3" [(ngModel)]="item.count" (input)="changeCount($event, item.name)" /></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>Total cost: {{total}} <input type="button" value="Payment" class="btn btn-dark btn-sm" (click)="payment(row_order)"></p>
</div>