<h4>Add new food item</h4>
<form #form1="ngForm" (ngSubmit)="addFood(form1.value)" >
    <div class="form-group">
        <input type="text" name="name" placeholder="Food name" class="form-control" ngModel />
    </div>
    <div class="form-group">
        <input type="text" name="description" placeholder="Description" class="form-control"  ngModel />
    </div>
    <div class="form-group">
        <input type="text" name="ingredients" placeholder="Ingredients" class="form-control" ngModel />
    </div>
    <div class="form-group">
        <input type="text" name="price" placeholder="Price" class="form-control" ngModel />
    </div>
    <div class="form-group">
        <input type="file" name="imageUrl" (change)="fileSelected($event)"  class="form-control" ngModel />
    </div>
    <div class="form-group">
        <input type="submit" name="submit" value="Add Food Item" class="btn btn-dark" />
    </div>
</form>
